:root {
  font-size: 16px;
  font-family: 'Lobster', cursive;
  --bgcolor: #06283d;
  --bgfont: #47b5ff;
  --bggridcontainer: #dff6ff;
  --bgcontainertext: #dff6ff;
  --gridcolor: #47b5ff;
  --txtcolor: black;
  /*--txtcolor: #DFF6FF; */
  /* font-family: 'Permanent Marker', cursive;*/
  /* https://colorhunt.co/palette/06283d1363df47b5ffdff6ff */
}

body {
  height: 100vh;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
}

.tt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgcolor);
  height: 100%;
}

.tt-content-header {
  font-size: 4em;
  color: var(--bgfont);
}

.instructions {
  color: var(--bgcontainertext);
}

.tt-content-instructions {
  width: 30%;
  font-size: 1.5em;
}

.tt-form {
  margin-top: 3em;
  margin-bottom: 3em;
}

.tt-grid-container {
  display: flex;
  width: auto;
  height: auto;
  background-color: var(--bggridcontainer);
  border-radius: 25px;
  box-shadow: 2px 4px #cdf0ea;
  justify-content: center;
  margin-bottom: 3em;
}

.tt-gameboard {
  display: grid;
  grid-gap: 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.grid-item {
  display: grid;
  height: 5em;
  width: 5em;
  align-items: center;
  justify-content: center;
  outline: 1px dashed var(--gridcolor);
}

.grid-text {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
}

.tt-announements {
  margin-top: 3em;
}

.tt-results-info {
  list-style: none;
  color: var(--bgcontainertext);
}

#tt-winner {
  display: none;
}

.tt-winner-info {
  color: var(--bgcontainertext);
}

#tt-results {
  display: none;
}
